{% extends "base.html" %}

{% load static %}

{% block title %}{{ current_book.name }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
        <h5>
            <a href="{% url 'books' %}">Каталог</a>
        </h5>
        <h2>{{ books.name }}</h2>
    </div>

  <div class="content">
    <div>Автор: {{ current_book.author }}</div>
    <div>Дата публикации: {{ current_book.pub_date }}</div>
  </div>
  <div>
    {% if previous_book %}
        <a href="{% url 'books_detail' previous_book.pub_date %}">« {{ previous_book.pub_date }}</a>
    {% else %}
        <span>« Нет предыдущей книги</span>
    {% endif %}
    {% if next_book %}
        <a href="{% url 'books_detail' next_book.pub_date %}">{{ next_book.pub_date }} »</a>
    {% else %}
        <span>Нет следующей книги »</span>
    {% endif %}
    </div>
{% endblock %}